.App {
  display: flex;
  flex-direction: row;
}

.card-list-container {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.side-bar {
  flex: 2;
  background: black;
  height: 100vh;
}


/* Mana Buttons CSS */
.white {
  background-image: url('./images/white_mana.png');
  background-size: cover;
}

.black {
  background-image: url('./images/black_mana.png');
  background-size: cover;
}

.blue {
  background-image: url('./images/blue_mana.png');
  background-size: cover;
}

.red {
  background-image: url('./images/red_mana.png');
  background-size: cover;
}

.green {
  background-image: url('./images/green_mana.png');
  background-size: cover;
}

.mana-button {
  height:100px;
  width: 100px;
  cursor: pointer;
  margin: 10px 0px;
}

.card-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked {
  height: 120px;
  width:120px;
  border: 2px solid white;
  border-radius: 50%
}

